@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}

.header-mode-desktop{
    display: none;
    
}

.box-top{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 36px;
    line-height: 52px;
    font-weight: 400;
    color: #5D5D7D;
    width: 268px;
    margin-bottom: 15px;
}

p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    opacity: 60%;
    width: 205px;
    margin-bottom: 15px;
}

button{
    width: 269px;
    height: 62px;
    background: #9499EA;
    color: #fff;
    border: none;
    border-radius: 60px;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}

.box-bottom{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(93, 93, 125, 0.16);
}

/*desktop mode*/

@media screen and (min-width:900px) {
    body {
        display: flex;
        flex-direction: row;
        height: 100vh;
  }

  .box-top{
    width: 60vw;
    height: 100vh;
  }

.box-bottom{
    width: 40vw;
    height: 100vh;
}

  .box-top {
    align-items: flex-start;
    justify-content: center;
    padding-left: 80px;
  }

  h1 {
    font-size: 70px;
    line-height: 80px;
    text-align: left;
    width: 366px;
  }

  p {
    font-size: 28px;
    line-height: 48px;
    text-align: left;
    width: 540px;
    max-width: 600px;
  }

  button {
    font-size: 24px;
    width: 300px;
  }

  button:hover{
    background: #9498eaa8;
  }

  .header-mode-desktop {
    display: block;
    position: absolute;
    top: 24px;
    right: 58px;
  }

  .navbar {
    display: flex;
    gap: 40px;
  }

  .navbar a {
    color: #5D5D7D;
    font-size: 28px;
  }

  .navbar a:hover{
    opacity: 40%;
  }

  .box-bottom {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .box-bottom img {
    width: 350px;
    height: auto;
    position: relative;
    right: 36%;
  }

}

    



